* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
  width: 100%;
  position: relative;
  padding-top: 20px;
}

footer {
  width: 100vw;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  box-shadow: -2px 0 3px 2px rgb(153, 153, 153);
  background-color: black;
}

main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 300px;
  padding-bottom: 100px;
}

footer h2 {
  font-size: 25px;
  color: rgb(143, 143, 143);
  font-weight: 100;
  line-height: 50px;
  text-align: center;
}

a {
  color: rgb(255, 255, 255);
}

.box-new-task {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

main input {
  outline: 0;
  border: 0;
  background-color: white;
  color: rgb(31, 31, 31);
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 7px;
  height: 40px;
  width: calc(100% - 86px);
}

main input:focus,
main input:hover {
  background-color: rgb(154, 175, 221);
  border: 2px solid rgb(72, 11, 11);
}

.add {
  outline: 0;
  border: 0;
  background-color: rgb(66, 83, 182);
  border-radius: 7px;
  height: 40px;
  padding: 2px 10px;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
  color: white;
  width: 86px;
}

.add:hover {
  background-color: rgb(83, 148, 223);
}

.box-tasks {
  background-color: white;
  margin-top: 10px;
  width: 300px;
  padding: 20px 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.task {
  margin-bottom: 10px;
  border-bottom: 1.5px solid rgb(0, 0, 0);

  background-color: rgb(80, 103, 202);

  border-radius: 6px;
  padding: 6px;
  display: flex;
  justify-content: space-between;

  color: white;
}

.task p {
  font-size: 14px;
}

.task span {
  display: flex;
}

i {
  margin-bottom: 3px;
}

i:hover {
  font-size: 19px;
  margin-bottom: 0;
}

.icon-ok {
  color: rgb(119, 235, 24);
  margin-right: 4px;
}

.icon-trashcan {
  color: rgb(213, 33, 33);
}

.error {
  border: 1px solid red;
}

.error::placeholder {
  color: red;
}

.task.complete p {
  text-decoration: line-through;
  color: black;
}




.changeTheme{
  outline: 0;
  border: 0;
  background-color: rgb(66, 83, 182);
  border-radius: 7px;
  height: 40px;
  padding: 2px 10px;
  font-size: 16px;
  cursor: pointer;
  color: rgb(252, 252, 252);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.changeBox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height:auto;
  min-height: 100vh;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.622);
  display: none;
}

.iconBox{
  display: flex;
  justify-content: end;
  padding: 10px;
}

.icon-cross{
  color: white;
  cursor: pointer;

}

.container{
  background-color: white;
  color: black;
  width: 550px;
  border-radius: 20px;
  padding: 15px 25px;
  margin: 24px auto;
}

.container h2{
  text-align: center;
  margin-bottom: 20px;
}

.span{
  border: none;
  display: flex;
  align-items: center;
  margin-bottom:15px;
}

.container input{
  border: none;
  height: 30px;
  width: 80px;
  margin-left: 7px;
}

.save{
  outline: 0;
  border: 0;
  background-color: #4d57ab;
  border-radius: 7px;
  height: 30px;
  padding: 7px 15px;
  font-size: 16px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 26px;
}

@media (max-width: 580px){
  .container{
    width: 90vw;
  }
}

@media (max-width: 400px) {
  main{
    width: 100vw;
  }

  .box-new-task {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  input {
    font-size: 13px;
    width: calc(100% - 91px);
  }

  .add {
    font-size: 13px;
    width: 70px;
  }

  main input{
    width: calc(100% - 70px);
  }

  .box-tasks {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-size: 19px;
  }

  label{
    font-size: 13px;
  }

  footer h2{
    font-size: 20px;
  }
}

@media (max-width: 280px) {
  input {
    font-size: 10px;
  }

  .add {
    font-size: 10px;
  }


  h2{
    font-size: 16px;

  }

  label{
    font-size: 10px;
  }
}